In [5]:
import pandas as pd

#a. Reading the autos file into pandas DataFrame
pd.read_csv("C:/Users/SOLO's WORK-IN/Downloads/autos.csv")

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,23,28,16845
189,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8,160,5300,19,25,19045
190,-1,volvo,gas,std,4,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8,134,5500,18,23,21485
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23,106,4800,26,27,22470
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,19,25,22625

In [6]:
#b.printing out the first 8 entries
df.head(8)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
5,2,audi,gas,std,2,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8,110,5500,19,25,15250
6,1,audi,gas,std,4,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,17710
7,1,audi,gas,std,4,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,18920

In [7]:
# c.Groupiing the DataFrame by pricesand finding the minimum value
min_df = df.groupby('price').min()
print(min_df)

       symboling           make fuel_type aspiration  num_of_doors  \
price
5118           2         subaru       gas        std             2
5151           2      chevrolet       gas        std             2
5195           1          mazda       gas        std             2
5348           1         toyota       gas        std             2
5389           2     mitsubishi       gas        std             2
...          ...            ...       ...        ...           ...
36880          0            bmw       gas        std             4
37028          3        porsche       gas        std             2
40960          0  mercedes-benz       gas        std             4
41315          0            bmw       gas        std             2
45400          1  mercedes-benz       gas        std             2

        body_style drive_wheels engine_location  wheel_base  length  ...  \
price                                                                ...
5118     hatchback          fwd           front        93.7   156.9  ...
5151     hatchback          fwd           front        88.4   141.1  ...
5195     hatchback          fwd           front        93.1   159.1  ...
5348     hatchback          fwd           front        95.7   158.7  ...
5389     hatchback          fwd           front        93.7   157.3  ...
...            ...          ...             ...         ...     ...  ...
36880        sedan          rwd           front       110.0   197.0  ...
37028  convertible          rwd            rear        89.5   168.9  ...
40960        sedan          rwd           front       120.9   208.1  ...
41315        sedan          rwd           front       103.5   193.8  ...
45400      hardtop          rwd           front       112.0   199.2  ...

       num_of_cylinders  engine_size  fuel_system  bore  stroke  \
price
5118                  4           97         2bbl  3.62    2.36
5151                  3           61         2bbl  2.91    3.03
5195                  4           91         2bbl  3.03    3.15
5348                  4           92         2bbl  3.05    3.03
5389                  4           92         2bbl  2.97    3.23
...                 ...          ...          ...   ...     ...
36880                 6          209         mpfi  3.62    3.39
37028                 6          194         mpfi  3.74    2.90
40960                 8          308         mpfi  3.80    3.35
41315                 6          209         mpfi  3.62    3.39
45400                 8          304         mpfi  3.80    3.35

       compression_ratio horsepower  peak_rpm  city_mpg  highway_mpg
price
5118                   9         69      4900        31           36
5151                   9         48      5100        47           53
5195                   9         68      5000        30           31
5348                   9         62      4800        35           39
5389                   9         68      5500        37           41
...                  ...        ...       ...       ...          ...
36880                  8        182      5400        15           20
37028                  9        207      5900        17           25
40960                  8        184      4500        14           16
41315                  8        182      5400        16           22
45400                  8        184      4500        14           16

[178 rows x 24 columns]

In [8]:
df.describe()

,symboling,num_of_doors,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,0.797927,3.160622,98.923834,174.326425,65.893782,53.869948,2561.507772,4.419689,128.124352,3.330622,3.248860,9.860104,103.481865,5099.740933,25.326425,30.787565,13285.025907
std,1.235582,0.989583,6.152409,12.478593,2.137795,2.394770,526.700026,1.023182,41.590452,0.272385,0.315421,4.002098,37.960107,468.694369,6.387828,6.816910,8089.082886
min,-2.000000,2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,3.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,2.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,4.000000,98.000000,3.150000,3.110000,8.000000,70.000000,4800.000000,19.000000,25.000000,7738.000000
50%,1.000000,4.000000,97.000000,173.200000,65.400000,54.100000,2414.000000,4.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5100.000000,25.000000,30.000000,10245.000000
75%,2.000000,4.000000,102.400000,184.600000,66.900000,55.700000,2952.000000,4.000000,146.000000,3.590000,3.410000,9.000000,116.000000,5500.000000,30.000000,34.000000,16515.000000
max,3.000000,4.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,12.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [29]:
df= Data
pivot= pd.df.pivot_table()

NameError: name 'Data' is not defined

In [33]:
 pd.read_csv("C:/Users/SOLO's WORK-IN/Downloads/autos.csv")
std_df = df.groupby('price').std()
min_std = std_df['price'].min()
print("The smallest standard deviation of the prices is:", min_std)

KeyError: 'price'

In [37]:
# 7. creating and separating
import pandas as pd
data_1 = {'name': ['Frank','Prince','Abigail'],
        'age': [25, 30, 35],
        'gender': ['female','male','male']}
data_2 = {'name': ['Frank','Prince','Abigail'],
        'age': [15, 20, 25],
        'interest': ['music','gaming','dance']}
data_1

{'name': ['Frank', 'Prince', 'Abigail'],
 'age': [25, 30, 35],
 'gender': ['female', 'male', 'male']}

In [36]:
data_3=pd.merge(data_1,data_2,on='name')
data_3

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed